8,
*::before,
*::after {
  box-sizing: border-box;  
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background: hsl(204, 43%, 93%);
}

h2,
h3,
p {
  margin: 0;
}

.main {
  width: 80vw;
  margin: 2em auto;
}

.community {
  background: #fff;
  padding: 1.5em;
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
}

.main-title,
.sub-title {
  margin-bottom: 1em;
}

.main-title {
  font-size: 1.1rem;
  color: hsl(179, 62%, 43%);
}

.sub-title {
  font-size: .85rem;
  color: hsl(71, 73%, 54%);
}

.desc {
  font-size: .80rem;
  line-height: 1.9;
  color: hsl(218, 22%, 67%);
}

.monthly {
  background: hsl(179, 62%, 43%);
  color: #fff;
  padding: 1.5em;
}

.monthly-title {
  font-size: 1.1rem;
  text-transform: capitalize;
  margin-bottom: 1em;
}

.monthly-sub-title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: .2em;
}

span {
  font-size: .90rem;
  font-weight: 400;
  opacity: .6;
  margin-left: .5em;
}

.monthly-desc {
  font-size: .90rem;
  opacity: .8;
}

button {
  font-size: .90rem;
  text-transform: capitalize;
  background:  hsl(71, 73%, 54%);
  color: #fff;
  padding: .90em 0;
  width: 100%;
  border: none;
  border-radius: .5em;
  margin-top: 1.5em;
box-shadow: 0px 10px 13px -7px hsl(179, 75%, 25%), 1px 7px 24px 8px rgba(0,0,0,0.19);
}

